html, body {padding: 0; margin: 0; overflow: hidden; cursor: default; height: 100%}
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #fefefe;
	font-weight: 200;
	background-color: #43d3d3;
}
* {
  margin: 0;
  padding: 0; 
}

*:focus {
    outline: none;
}